@model ListPageViewModel
@{
    ViewData["Title"] = "List";
    var currentPage = @Model.page;
    var maxPages = @Model.maxPages;
    var hasPreviousPage = currentPage != 1;
    var isDatalex = false;
    if (ViewBag.Datalex != null)
        isDatalex = true;
}

@section Styles
{
    @if (isDatalex)
    {
        <link rel="stylesheet" href="~/css/details/custom-datalex.css">
    }
    else
    {
        <link rel="stylesheet" href="~/css/details/custom.css">
    }
}
@section Scripts
{
    <script src="~/js/details/jquery-3.2.1.min.js"></script>
}

<partial name="_CartItems" model="Model.shoppingCartViewModel" />

<!-- plant -->
<div id="plant" class="section  product">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="titlepage">
                    @if (Model.category != null)
                    {
                        <h2>@Model.category.Name</h2>
                    }
                    else
                    {
                        <h2><strong class="black"> ჩვენი</strong> პროდუქცია</h2>
                        <span>სათევზაო ნივთების და მანქანის პერიფერიის მრავალფეროვანი არჩევანი</span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clothes_main section ">
    <div class="container">
        <div class="sorting" style="text-align: right;">
            დახარისხება:
            <select onChange="window.location.replace(this.value)">
                <!option value="@(isDatalex ? "/Datalex" : "")/Product/List/1?orderBy=priceAsc&category=@Model.category?.Id" @(Model.orderBy == "priceAsc" ? "selected" : "")>ფასის ზრდადობით</!option>
                <!option value="@(isDatalex ? "/Datalex" : "")/Product/List/1?orderBy=priceDesc&category=@Model.category?.Id" @(Model.orderBy == "priceDesc" ? "selected" : "")>ფასის კლებადობით</!option>
                <!option value="@(isDatalex ? "/Datalex" : "")/Product/List/1?orderBy=idDesc&category=@Model.category?.Id" @(Model.orderBy == "idDesc" ? "selected" : "") >ახალი დამატებულები </!option>
                <!option value="@(isDatalex ? "/Datalex" : "")/Product/List/1?orderBy=idAsc&category=@Model.category?.Id" @(Model.orderBy == "idAsc" ? "selected" : "")>ძველი დამატებულები</!option>
            </select>
        </div>
        <div class="row">
            @foreach (var product in Model.products)
            {
                <partial name="_ProductCard" model="product"/>
            }
        </div>
        <div class="center">
            <div class="pagination">
                @if (hasPreviousPage)
                {
                    <a asp-action="List" asp-route-page="@(currentPage - 1)" asp-route-category="@Model.category?.Id" asp-route-orderBy="@Model.orderBy">&laquo;</a>
                }
                @if (@currentPage - 2 > 0)
                {
                    <a asp-action="List" asp-route-page="@(currentPage - 2)" asp-route-category="@Model.category?.Id" asp-route-orderBy="@Model.orderBy">@(currentPage - 2)</a>
                }
                @if (@currentPage - 1 > 0)
                {
                    <a asp-action="List" asp-route-page="@(currentPage - 1)" asp-route-category="@Model.category?.Id" asp-route-orderBy="@Model.orderBy">@(currentPage - 1)</a>
                }
                <a asp-action="List" asp-route-page="@(currentPage)" class="active" asp-route-category="@Model.category?.Id" asp-route-orderBy="@Model.orderBy">@(currentPage)</a>
                @if (@currentPage  < (int)maxPages)
                {
                    <a asp-action="List" asp-route-page="@(currentPage + 1)" asp-route-category="@Model.category?.Id" asp-route-orderBy="@Model.orderBy">@(currentPage + 1)</a>
                }
                @if (@currentPage + 2 < maxPages)
                {
                    <a asp-action="List" asp-route-page="@(currentPage + 2)" asp-route-category="@Model.category?.Id" asp-route-orderBy="@Model.orderBy">@(currentPage + 2)</a>
                }
                @if ((float)Model.page < Model.maxPages)
                {
                    <a asp-action="List" asp-route-page="@(currentPage + 1)" asp-route-category="@Model.category?.Id" asp-route-orderBy="@Model.orderBy">&raquo;</a>
                }
            </div>
        </div>
    </div>
</div>
<!-- end plant -->