@model HomePageViewModel
@{
    ViewData["Title"] = "Home";
    var isDatalex = false;
    if (ViewBag.Datalex != null)
        isDatalex = true;
}
@section Styles
{
    <title>CarFish</title>
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
}

@section Scripts
{
    <!-- Javascript files-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.0.0.min.js"></script>
    <script src="~/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/custom.js"></script>
    <!-- javascript -->
    <script src="~/js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function () {

                $(this).addClass('transition');
            }, function () {

                $(this).removeClass('transition');
            });
        });

    </script>
}

@*<partial name="_CartItems" model="Model.shoppingCartViewModel" />*@
<section>
    <div id="main_slider" class="section carousel slide banner-main" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#main_slider" data-slide-to="0" class="active"></li>
            <li data-target="#main_slider" data-slide-to="1"></li>
            <li data-target="#main_slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            @for (int i = 0; i < Model.FeaturedProducts.Count(); i++)
            {
                <div class="@("carousel-item" + (i == 0 ? " active" : ""))">
                    <div class="container">
                        <div class="row marginii">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="carousel-caption ">
                                    <h1>@Model.FeaturedProducts.ElementAt(i).Name</h1>
                                    <p class="productDescription">@Model.FeaturedProducts.ElementAt(i).ShortDescription</p>
                                    <p class="productPrice">ფასი: @Model.FeaturedProducts.ElementAt(i).Price ლარი</p>
                                    <a class="btn btn-lg btn-primary" asp-controller="Product" asp-action="Details" asp-route-id="@Model.FeaturedProducts.ElementAt(i).ProductId" role="button">მეტი ინფორმაცია</a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="img-box">
                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.FeaturedProducts.ElementAt(i).ProductId">
                                        <figure><img class="product-image-carousel" src="@Model.FeaturedProducts.ElementAt(i).ImageThumbnailUrl" alt="img" /></figure>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class='fa fa-angle-left'></i>
        </a>
        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class='fa fa-angle-right'></i>
        </a>
    </div>
</section>
<!-- plant -->
<div id="plant" class="section  product">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="titlepage">
                    <h2><strong class="black"> ჩვენი</strong>  პროდუქცია</h2>
                    <span>სათევზაო ნივთების და მანქანის პერიფერიის მრავალფეროვანი არჩევანი</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clothes_main section ">
    <div class="container">
        <div class="row">
            @foreach (var product in Model.RecentProducts)
            {
                <partial name="_ProductCard" model="product" />
            }
        </div>
    </div>
    <a class="btn btn-lg btn-primary" asp-controller="Product" asp-action="List" role="button" id="products_link" style="margin: auto; background-color: @(isDatalex ? "#6667ab" : "#136af8"); max-width: 16rem; display: block;">პროდუქტების გვერდი</a>
</div>
<!-- end plant -->

<div id="plant" class="contact_us layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="titlepage" style="padding-bottom: 0px; padding-top: 7rem;">
                    <h2><strong class="black"> დაგვიკავშირდით</strong>  ელ-ფოსტით</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact_us_2 layout_padding paddind_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="soc_text">
                    @if (isDatalex)
                    {
                        <img src="~/img/logo_datalex.png" alt="#" style="max-width: 85%; !important">
                    }
                    else
                    {
                        <img src="~/img/logo.png" alt="#">
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="email_btn">
                    <form asp-controller="Home" asp-action="SendMail">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" placeholder="სახელი" name="Name" style=" color: #000000;">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" placeholder="ელ-ფოსტა" name="Email" style=" color: #000000;">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" placeholder="მობილურის ნომერი" name="Phone" style=" color: #000000;">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" placeholder="მესიჯი" name="Message" style=" color: #000000;">
                        </div>
                        <div class="submit_btn">
                            <button type="submit" class="btn btn-primary" style="background: @(isDatalex ? "#46467f" : "#081b30"); color: #fff; padding: 11px;">გაგზავნა</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>